.button{
    background: #0077ff;
    padding: 10px 25px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 16px 0;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    background: #014a9c;
}